<h1>Listing Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acts_as_taggable_on_tags.each do |acts_as_taggable_on_tag| %>
      <tr>
        <td><%= acts_as_taggable_on_tag.name %></td>
        <td><%= link_to 'Show', acts_as_taggable_on_tag %></td>
        <td><%= link_to 'Edit', edit_acts_as_taggable_on_tag_path(acts_as_taggable_on_tag) %></td>
        <td><%= link_to 'Destroy', acts_as_taggable_on_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_acts_as_taggable_on_tag_path %>
<%= link_to 'Recipe Index', root_path%>
